
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/deux1dbrg/image/upload/v1542350642/stanlee.png');">
        <div class="banner-content">
          <div id="banner-title">Stan's Cocktails</div>
        </div>
      </div>

  <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('';">

    <div class = "search">
      <div id="bar"><%= form_tag cocktails_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search cocktails, teams, hero names.."
        %>
      <% end %></div>
    </div>

    <div class="search-result">
      <h3 id="search-result"><%= @result %></h3>
    </div>

    <div id="create-btn">
      <%= link_to "<i class='far fa-plus-square'></i>Create Your Own Cocktail".html_safe, new_cocktail_path %>
    </div>

    <div class="card-container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>

          <a href= <%= cocktail_path(cocktail)%> >


            <div class="col-xs-12 col-sm-6 col-md-4">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('');">

                <div class="row">

                  <div class="col-xs-12">

                    <div class="card-image">
                      <%= cl_image_tag cocktail.photo, height: 265, crop: :limit %>
                    </div>

                    <div class="card-description">
                      <h3 id="card-name"><%= cocktail.name %></h3>
                    </div>

                  </div>
                </div>

              </div>

            </div>

          </a>

        <% end %>


      </div>
    </div>



  </div>
