<h1>Add Your Cocktail</h1>


<%= simple_form_for (@cocktail) do |f| %>
  <%= f.input :name %>

  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.submit "add your cocktail", class: "btn btn-primary" %>
<% end %>
