<div class="profile-wrapper">

    <div class="profile-container">



      <div class="profile-card">

          <div class="row">
            <div class="col-xs-12">
              <div>
                <h1 id="profile-name"><%= @cocktail.name %></h1>
              </div>
            </div>
          </div>

          <div class="row">

              <div class="col-xs-12 col-sm-4">
                <div id="profile-image">
                  <%= cl_image_tag @cocktail.photo, height: 350 , crop: :limit %>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="profile-list">
                  <div class="ing-title">
                    <h3 id="ingredients-title">Ingredients</h3>
                  </div>
                    <% @cocktail.doses.each do |dose| %>
                    <ul id="ingredients-list">
                      <li> <%= dose.ingredient.name %>  <%= dose.description %> <%= link_to "<i class='fas fa-minus' id='trash'></i>".html_safe, dose_path(dose),
                      method: :delete,
                      data: { confirm: "Are you sure?" }%> </li>
                    </ul>
                     <% end %>

                    <div>
                      <ul>
                        <li id="dose-btn"> <%= link_to "Add dose", new_cocktail_doses_path(@cocktail), class: "btn btn-primary" %> </li>
                      </ul>
                    </div>


                    <div class="profile-nav" id="profile-nav">

                      <%= link_to "<i class='fas fa-arrow-circle-left'></i>".html_safe, cocktails_path %>

                      <%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_cocktail_path(@cocktail) %>

                      <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, cocktail_path(@cocktail),
                      method: :delete,
                      data: { confirm: "Delete Cocktail?" }%>

                    </div>

                </div>
              </div>

              <div class="col-xs-4">
                <div id="cocktail-image">
                  <%= cl_image_tag @cocktail.photo2, height: 350, crop: :limit %>
                </div>
              </div>

          </div>

      </div>

    </div>

</div>
